body{
    background-color: #333333;
}

heading{
    display: block;
    font-size: 36px;
    color: white;
    text-align: center;
}

#bars-container{
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.bar{
    width: 15px;
    background-color: yellow;
    border: 0.5px solid #333333;
}
label{
    color: white;
}